textarea {
    resize: none;
}

.titleBar{
    height: 35px;
    background-color: #AAAAAA;
}

.leftAlignBar{
    float: left;
    text-align: left;
}

.rightAlign{
    float: right;
    text-align: right;
    padding-right: 5px;
}

.alignMiddleForBootstrap {
    margin-top: 7px;
}

.linkPadding{
    padding-left: 5px;
    padding-right: 10px;
}